@using DemoMVC
@using DemoMVC.Models

@{
    ViewBag.Title = "Tính chỉ số BMI";
}
<h2>Tính chỉ số BMI</h2>

<form method="post">
    <label>Chiều cao (m):</label>
    <input type="text" name="Height" required />
    
    <label>Cân nặng (kg):</label>
    <input type="text" name="Weight" required />
    
    <button type="submit">Tính BMI</button>
</form>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
